In [21]:
import pandas as pd

In [23]:
shark_tank_df = pd.read_csv("E:/Personal Projects/Project 1/Shark Tank US.csv")

In [25]:
shark_tank_df.head()

,Season Number,Episode Number,Pitch Number,Original Air Date,Startup Name,Industry,Business Description,Pitchers Gender,Pitchers City,Pitchers State,Pitchers Average Age,Entrepreneur Names,Company Website,Multiple Entrepreneurs,US Viewership,Original Ask Amount,Original Offered Equity,Valuation Requested,Got Deal,Total Deal Amount,Total Deal Equity,Deal Valuation,Number of sharks in deal,Investment Amount Per Shark,Equity Per Shark,Royalty Deal,Loan,Barbara Corcoran Investment Amount,Barbara Corcoran Investment Equity,Mark Cuban Investment Amount,Mark Cuban Investment Equity,Lori Greiner Investment Amount,Lori Greiner Investment Equity,Robert Herjavec Investment Amount,Robert Herjavec Investment Equity,Daymond John Investment Amount,Daymond John Investment Equity,Kevin O Leary Investment Amount,Kevin O Leary Investment Equity,Guest Investment Amount,Guest Investment Equity,Guest Name,Barbara Corcoran Present,Mark Cuban Present,Lori Greiner Present,Robert Herjavec Present,Daymond John Present,Kevin O Leary Present
0,1,1,1,2009-08-09,AvaTheElephant,Health/Wellness,Ava The Elephant - Baby and Child Care,Female,Atlanta,GA,NaN,Tiffany Krumins,http://www.avatheelephant.com/,0.0,4.15,50000,15.0,333333,1,50000.0,55.0,90909.0,1.0,50000.0,55.0,NaN,NaN,50000.0,55.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,1.0,1.0,1.0
1,1,1,2,2009-08-09,Mr.Tod'sPieFactory,Food and Beverage,Mr. Tod's Pie Factory - Specialty Food,Male,Somerset,NJ,NaN,Tod Wilson,http://whybake.com/,0.0,4.15,460000,10.0,4600000,1,460000.0,50.0,920000.0,2.0,230000.0,25.0,NaN,NaN,230000.0,25.0,NaN,NaN,NaN,NaN,NaN,NaN,230000.0,25.0,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,1.0,1.0,1.0
2,1,1,3,2009-08-09,Wispots,Business Services,Wispots - Consumer Services,Male,Cary,NC,NaN,Kevin Flannery,http://www.wispots.com/,0.0,4.15,1200000,10.0,12000000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,1.0,1.0,1.0
3,1,1,4,2009-08-09,CollegeFoxesPackingBoxes,Lifestyle/Home,College Foxes Packing Boxes - Consumer Services,Male,Tampa,FL,NaN,"Nick Friedman, Omar Soliman",http://collegehunkshaulingjunk.com/,0.0,4.15,250000,25.0,1000000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,1.0,1.0,1.0
4,1,1,5,2009-08-09,IonicEar,Software/Tech,Ionic Ear - Novelties,Male,St. Paul,MN,NaN,Darrin Johnson,NaN,0.0,4.15,1000000,15.0,6666667,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,1.0,1.0,1.0

In [27]:
shark_tank_df.shape

(1274, 48)

In [29]:
pd.set_option('display.max_columns', None)  # Set to None to display all columns
print(shark_tank_df)

      Season Number  Episode Number  Pitch Number Original Air Date  \
0                 1               1             1        2009-08-09
1                 1               1             2        2009-08-09
2                 1               1             3        2009-08-09
3                 1               1             4        2009-08-09
4                 1               1             5        2009-08-09
...             ...             ...           ...               ...
1269             14              21          1270        2023-05-05
1270             14              22          1271        2023-05-19
1271             14              22          1272        2023-05-19
1272             14              22          1273        2023-05-19
1273             14              22          1274        2023-05-19

                  Startup Name           Industry  \
0               AvaTheElephant    Health/Wellness
1           Mr.Tod'sPieFactory  Food and Beverage
2                      Wispots  Business Services
3     CollegeFoxesPackingBoxes     Lifestyle/Home
4                     IonicEar      Software/Tech
...                        ...                ...
1269                 NoshiFood  Food and Beverage
1270                     Tucky     Fashion/Beauty
1271      InfluencersInTheWild     Lifestyle/Home
1272                   Eyewris     Lifestyle/Home
1273            TonesOfMelanin     Fashion/Beauty

                                   Business Description Pitchers Gender  \
0                Ava The Elephant - Baby and Child Care          Female
1                Mr. Tod's Pie Factory - Specialty Food            Male
2                           Wispots - Consumer Services            Male
3       College Foxes Packing Boxes - Consumer Services            Male
4                                 Ionic Ear - Novelties            Male
...                                                 ...             ...
1269                                         Food paint            Male
1270                     Turn any shirt into a crop top          Female
1271  Board game that requires you to act as a socia...            Male
1272                                    Reading glasses            Male
1273        Collegiate fashion for minority communities          Female

     Pitchers City Pitchers State Pitchers Average Age  \
0          Atlanta             GA                  NaN
1         Somerset             NJ                  NaN
2             Cary             NC                  NaN
3            Tampa             FL                  NaN
4         St. Paul             MN                  NaN
...            ...            ...                  ...
1269           NaN            NaN               Middle
1270           NaN            NaN               Middle
1271           NaN            NaN               Middle
1272           NaN            NaN               Middle
1273           NaN            NaN               Middle

                Entrepreneur Names                      Company Website  \
0                  Tiffany Krumins       http://www.avatheelephant.com/
1                       Tod Wilson                  http://whybake.com/
2                   Kevin Flannery              http://www.wispots.com/
3      Nick Friedman, Omar Soliman  http://collegehunkshaulingjunk.com/
4                   Darrin Johnson                                  NaN
...                            ...                                  ...
1269                  Tomo Delaney                     noshiforkids.com
1270                  Brooke Knaus                        shoptucky.com
1271                  Tank Sinatra             influencersinthewild.com
1272  Kenzo Singer and Mark Singer                          eyewris.com
1273                  Ashley Jones                   tonesofmelanin.com

      Multiple Entrepreneurs  US Viewership  Original Ask Amount  \
0                        0.0           4.15                50000
1                        0.0           4.15               460000
2                        0.0           4.15              1200000
3                        0.0           4.15               250000
4                        0.0           4.15              1000000
...                      ...            ...                  ...
1269                     0.0           3.21               250000
1270                     0.0           3.35                70000
1271                     0.0           3.35               500000
1272                     1.0           3.35                25000
1273                     0.0           3.35               300000

      Original Offered Equity  Valuation Requested  Got Deal  \
0                        15.0               333333         1
1                        10.0              4600000         1
2                        10.0             12000000         0
3                        25.0              1000000         0
4                        15.0              6666667         0
...                       ...                  ...       ...
1269                     17.0              1470588         1
1270                     30.0               233333         1
1271                     10.0              5000000         0
1272                      5.0               500000         1
1273                     15.0              2000000         1

      Total Deal Amount  Total Deal Equity  Deal Valuation  \
0               50000.0               55.0         90909.0
1              460000.0               50.0        920000.0
2                   NaN                NaN             NaN
3                   NaN                NaN             NaN
4                   NaN                NaN             NaN
...                 ...                ...             ...
1269           250000.0               25.0       1000000.0
1270            70000.0               39.0        179487.0
1271                NaN                NaN             NaN
1272           125000.0               20.0        625000.0
1273           300000.0               12.0       2500000.0

      Number of sharks in deal  Investment Amount Per Shark  Equity Per Shark  \
0                          1.0                      50000.0              55.0
1                          2.0                     230000.0              25.0
2                          NaN                          NaN               NaN
3                          NaN                          NaN               NaN
4                          NaN                          NaN               NaN
...                        ...                          ...               ...
1269                       1.0                     250000.0              25.0
1270                       1.0                      70000.0              39.0
1271                       NaN                          NaN               NaN
1272                       5.0                      25000.0               4.0
1273                       1.0                     300000.0              12.0

      Royalty Deal  Loan  Barbara Corcoran Investment Amount  \
0              NaN   NaN                             50000.0
1              NaN   NaN                            230000.0
2              NaN   NaN                                 NaN
3              NaN   NaN                                 NaN
4              NaN   NaN                                 NaN
...            ...   ...                                 ...
1269           NaN   NaN                                 NaN
1270           NaN   NaN                                 NaN
1271           NaN   NaN                                 NaN
1272           NaN   NaN                             25000.0
1273           NaN   NaN                                 NaN

      Barbara Corcoran Investment Equity  Mark Cuban Investment Amount  \
0                                   55.0                           NaN
1                                   25.0                           NaN
2                                    NaN                           NaN
3                                    NaN                           NaN
4                                    NaN                           NaN
...                                  ...                           ...
1269                                 NaN                      250000.0
1270                                 NaN                           NaN
1271                                 NaN                           NaN
1272                                 4.0                       25000.0
1273                                 NaN                      300000.0

      Mark Cuban Investment Equity  Lori Greiner Investment Amount  \
0                              NaN                             NaN
1                              NaN                             NaN
2                              NaN                             NaN
3                              NaN                             NaN
4                              NaN                             NaN
...                            ...                             ...
1269                          25.0                             NaN
1270                           NaN                             NaN
1271                           NaN                             NaN
1272                           4.0                         25000.0
1273                          12.0                             NaN

      Lori Greiner Investment Equity  Robert Herjavec Investment Amount  \
0                                NaN                                NaN
1                                NaN                                NaN
2                                NaN                                NaN
3                                NaN                                NaN
4                                NaN                                NaN
...                              ...                                ...
1269                             NaN                                NaN
1270                             NaN                                NaN
1271                             NaN                                NaN
1272                             4.0                                NaN
1273                             NaN                                NaN

      Robert Herjavec Investment Equity  Daymond John Investment Amount  \
0                                   NaN                             NaN
1                                   NaN                        230000.0
2                                   NaN                             NaN
3                                   NaN                             NaN
4                                   NaN                             NaN
...                                 ...                             ...
1269                                NaN                             NaN
1270                                NaN                         70000.0
1271                                NaN                             NaN
1272                                NaN                         25000.0
1273                                NaN                             NaN

      Daymond John Investment Equity  Kevin O Leary Investment Amount  \
0                                NaN                              NaN
1                               25.0                              NaN
2                                NaN                              NaN
3                                NaN                              NaN
4                                NaN                              NaN
...                              ...                              ...
1269                             NaN                              NaN
1270                            39.0                              NaN
1271                             NaN                              NaN
1272                             4.0                          25000.0
1273                             NaN                              NaN

      Kevin O Leary Investment Equity  Guest Investment Amount  \
0                                 NaN                      NaN
1                                 NaN                      NaN
2                                 NaN                      NaN
3                                 NaN                      NaN
4                                 NaN                      NaN
...                               ...                      ...
1269                              NaN                      NaN
1270                              NaN                      NaN
1271                              NaN                      NaN
1272                              4.0                      NaN
1273                              NaN                      NaN

      Guest Investment Equity Guest Name  Barbara Corcoran Present  \
0                         NaN        NaN                       1.0
1                         NaN        NaN                       1.0
2                         NaN        NaN                       1.0
3                         NaN        NaN                       1.0
4                         NaN        NaN                       1.0
...                       ...        ...                       ...
1269                      NaN        NaN                       NaN
1270                      NaN        NaN                       NaN
1271                      NaN        NaN                       NaN
1272                      NaN        NaN                       1.0
1273                      NaN        NaN                       NaN

      Mark Cuban Present  Lori Greiner Present  Robert Herjavec Present  \
0                    0.0                   0.0                      1.0
1                    0.0                   0.0                      1.0
2                    0.0                   0.0                      1.0
3                    0.0                   0.0                      1.0
4                    0.0                   0.0                      1.0
...                  ...                   ...                      ...
1269                 1.0                   NaN                      NaN
1270                 NaN                   NaN                      NaN
1271                 NaN                   NaN                      NaN
1272                 1.0                   1.0                      NaN
1273                 1.0                   NaN                      NaN

      Daymond John Present  Kevin O Leary Present
0                      1.0                    1.0
1                      1.0                    1.0
2                      1.0                    1.0
3                      1.0                    1.0
4                      1.0                    1.0
...                    ...                    ...
1269                   NaN                    NaN
1270                   1.0                    NaN
1271                   NaN                    NaN
1272                   1.0                    1.0
1273                   NaN                    NaN

[1274 rows x 48 columns]

In [31]:
shark_tank_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1274 entries, 0 to 1273
Data columns (total 48 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Season Number                       1274 non-null   int64
 1   Episode Number                      1274 non-null   int64
 2   Pitch Number                        1274 non-null   int64
 3   Original Air Date                   1274 non-null   object
 4   Startup Name                        1274 non-null   object
 5   Industry                            1274 non-null   object
 6   Business Description                1274 non-null   object
 7   Pitchers Gender                     1267 non-null   object
 8   Pitchers City                       502 non-null    object
 9   Pitchers State                      746 non-null    object
 10  Pitchers Average Age                338 non-null    object
 11  Entrepreneur Names                  779 non-null    object
 12  Company Website                     516 non-null    object
 13  Multiple Entrepreneurs              847 non-null    float64
 14  US Viewership                       1274 non-null   float64
 15  Original Ask Amount                 1274 non-null   int64
 16  Original Offered Equity             1274 non-null   float64
 17  Valuation Requested                 1274 non-null   int64
 18  Got Deal                            1274 non-null   int64
 19  Total Deal Amount                   765 non-null    float64
 20  Total Deal Equity                   765 non-null    float64
 21  Deal Valuation                      765 non-null    float64
 22  Number of sharks in deal            765 non-null    float64
 23  Investment Amount Per Shark         765 non-null    float64
 24  Equity Per Shark                    765 non-null    float64
 25  Royalty Deal                        75 non-null     float64
 26  Loan                                52 non-null     float64
 27  Barbara Corcoran Investment Amount  120 non-null    float64
 28  Barbara Corcoran Investment Equity  120 non-null    float64
 29  Mark Cuban Investment Amount        230 non-null    float64
 30  Mark Cuban Investment Equity        230 non-null    float64
 31  Lori Greiner Investment Amount      199 non-null    float64
 32  Lori Greiner Investment Equity      199 non-null    float64
 33  Robert Herjavec Investment Amount   121 non-null    float64
 34  Robert Herjavec Investment Equity   121 non-null    float64
 35  Daymond John Investment Amount      111 non-null    float64
 36  Daymond John Investment Equity      111 non-null    float64
 37  Kevin O Leary Investment Amount     117 non-null    float64
 38  Kevin O Leary Investment Equity     117 non-null    float64
 39  Guest Investment Amount             105 non-null    float64
 40  Guest Investment Equity             105 non-null    float64
 41  Guest Name                          105 non-null    object
 42  Barbara Corcoran Present            898 non-null    float64
 43  Mark Cuban Present                  901 non-null    float64
 44  Lori Greiner Present                901 non-null    float64
 45  Robert Herjavec Present             897 non-null    float64
 46  Daymond John Present                898 non-null    float64
 47  Kevin O Leary Present               898 non-null    float64
dtypes: float64(31), int64(6), object(11)
memory usage: 477.9+ KB

In [33]:
shark_tank_df.dtypes

Season Number                           int64
Episode Number                          int64
Pitch Number                            int64
Original Air Date                      object
Startup Name                           object
Industry                               object
Business Description                   object
Pitchers Gender                        object
Pitchers City                          object
Pitchers State                         object
Pitchers Average Age                   object
Entrepreneur Names                     object
Company Website                        object
Multiple Entrepreneurs                float64
US Viewership                         float64
Original Ask Amount                     int64
Original Offered Equity               float64
Valuation Requested                     int64
Got Deal                                int64
Total Deal Amount                     float64
Total Deal Equity                     float64
Deal Valuation                        float64
Number of sharks in deal              float64
Investment Amount Per Shark           float64
Equity Per Shark                      float64
Royalty Deal                          float64
Loan                                  float64
Barbara Corcoran Investment Amount    float64
Barbara Corcoran Investment Equity    float64
Mark Cuban Investment Amount          float64
Mark Cuban Investment Equity          float64
Lori Greiner Investment Amount        float64
Lori Greiner Investment Equity        float64
Robert Herjavec Investment Amount     float64
Robert Herjavec Investment Equity     float64
Daymond John Investment Amount        float64
Daymond John Investment Equity        float64
Kevin O Leary Investment Amount       float64
Kevin O Leary Investment Equity       float64
Guest Investment Amount               float64
Guest Investment Equity               float64
Guest Name                             object
Barbara Corcoran Present              float64
Mark Cuban Present                    float64
Lori Greiner Present                  float64
Robert Herjavec Present               float64
Daymond John Present                  float64
Kevin O Leary Present                 float64
dtype: object

In [16]:
shark_tank_df.columns

Index(['Season Number', 'Episode Number', 'Pitch Number', 'Original Air Date',
       'Startup Name', 'Industry', 'Business Description', 'Pitchers Gender',
       'Pitchers City', 'Pitchers State', 'Pitchers Average Age',
       'Entrepreneur Names', 'Company Website', 'Multiple Entrepreneurs',
       'US Viewership', 'Original Ask Amount', 'Original Offered Equity',
       'Valuation Requested', 'Got Deal', 'Total Deal Amount',
       'Total Deal Equity', 'Deal Valuation', 'Number of sharks in deal',
       'Investment Amount Per Shark', 'Equity Per Shark', 'Royalty Deal',
       'Loan', 'Barbara Corcoran Investment Amount',
       'Barbara Corcoran Investment Equity', 'Mark Cuban Investment Amount',
       'Mark Cuban Investment Equity', 'Lori Greiner Investment Amount',
       'Lori Greiner Investment Equity', 'Robert Herjavec Investment Amount',
       'Robert Herjavec Investment Equity', 'Daymond John Investment Amount',
       'Daymond John Investment Equity', 'Kevin O Leary Investment Amount',
       'Kevin O Leary Investment Equity', 'Guest Investment Amount',
       'Guest Investment Equity', 'Guest Name', 'Barbara Corcoran Present',
       'Mark Cuban Present', 'Lori Greiner Present', 'Robert Herjavec Present',
       'Daymond John Present', 'Kevin O Leary Present'],
      dtype='object')

In [35]:
shark_tank_df.describe(include='all')

,Season Number,Episode Number,Pitch Number,Original Air Date,Startup Name,Industry,Business Description,Pitchers Gender,Pitchers City,Pitchers State,Pitchers Average Age,Entrepreneur Names,Company Website,Multiple Entrepreneurs,US Viewership,Original Ask Amount,Original Offered Equity,Valuation Requested,Got Deal,Total Deal Amount,Total Deal Equity,Deal Valuation,Number of sharks in deal,Investment Amount Per Shark,Equity Per Shark,Royalty Deal,Loan,Barbara Corcoran Investment Amount,Barbara Corcoran Investment Equity,Mark Cuban Investment Amount,Mark Cuban Investment Equity,Lori Greiner Investment Amount,Lori Greiner Investment Equity,Robert Herjavec Investment Amount,Robert Herjavec Investment Equity,Daymond John Investment Amount,Daymond John Investment Equity,Kevin O Leary Investment Amount,Kevin O Leary Investment Equity,Guest Investment Amount,Guest Investment Equity,Guest Name,Barbara Corcoran Present,Mark Cuban Present,Lori Greiner Present,Robert Herjavec Present,Daymond John Present,Kevin O Leary Present
count,1274.000000,1274.000000,1274.000000,1274,1274,1274,1274,1267,502,746,338,779,516,847.000000,1274.000000,1.274000e+03,1274.000000,1.274000e+03,1274.000000,7.650000e+02,765.000000,7.650000e+02,765.000000,7.650000e+02,765.000000,75.0,5.200000e+01,120.000000,120.000000,2.300000e+02,230.000000,1.990000e+02,199.000000,1.210000e+02,121.000000,1.110000e+02,111.000000,1.170000e+02,117.000000,1.050000e+02,105.000000,105,898.000000,901.000000,901.000000,897.000000,898.000000,898.000000
unique,NaN,NaN,NaN,306,1271,16,1272,3,252,46,3,774,514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,2017-11-12,FortMagic,Food and Beverage,Echo Valley Meats - Specialty Food,Male,Los Angeles,CA,Middle,Erika Pope,http://www.echovalleymeats.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Daniel Lubetzky,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,8,2,276,2,703,41,210,308,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15,NaN,NaN,NaN,NaN,NaN,NaN
mean,7.919937,12.523548,637.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.443920,5.142841,2.841374e+05,13.803611,3.550595e+06,0.600471,2.960630e+05,24.277359,2.178226e+06,1.311111,2.506131e+05,20.599954,1.0,4.314904e+05,147625.000000,22.882500,2.583667e+05,17.699346,2.173032e+05,16.373608,2.925399e+05,18.372576,1.824309e+05,25.844441,2.407479e+05,15.111681,2.122937e+05,15.592381,NaN,0.564588,0.902331,0.751387,0.875139,0.661470,0.955457
std,3.724174,7.474586,367.916431,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.497139,1.477513,3.590051e+05,8.642237,5.878462e+06,0.489994,3.588283e+05,15.458384,3.770427e+06,0.613926,3.271015e+05,14.555990,0.0,4.349575e+05,115589.851005,12.606725,2.788988e+05,14.266804,2.109694e+05,12.782263,5.387259e+05,12.773358,2.978663e+05,15.661076,3.006521e+05,11.231957,2.117536e+05,13.350524,NaN,0.496087,0.297032,0.432449,0.330745,0.473473,0.206414
min,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,2.270000,1.000000e+04,1.000000,4.000000e+04,0.000000,1.000000e+04,0.000000,0.000000e+00,1.000000,5.000000e+03,0.000000,1.0,5.000000e+04,12500.000000,4.000000,1.250000e+04,2.500000,1.750000e+04,0.000000,5.000000e+03,0.000000,5.000000e+03,0.000000,2.000000e+04,0.000000,2.000000e+04,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.000000,6.000000,319.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,3.850000,1.000000e+05,10.000000,6.666670e+05,0.000000,1.000000e+05,15.000000,4.000000e+05,1.000000,9.000000e+04,10.000000,1.0,1.500000e+05,50000.000000,12.500000,7.625000e+04,10.000000,7.500000e+04,10.000000,1.000000e+05,10.000000,5.000000e+04,15.825000,8.333333e+04,6.000000,7.500000e+04,8.750000,NaN,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000
50%,8.000000,12.000000,637.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,4.880000,2.000000e+05,10.000000,1.500000e+06,1.000000,2.000000e+05,20.000000,1.000000e+06,1.000000,1.500000e+05,20.000000,1.0,2.500000e+05,100000.000000,20.000000,1.500000e+05,15.000000,1.500000e+05,12.500000,1.875000e+05,15.000000,1.200000e+05,25.000000,1.500000e+05,10.000000,1.250000e+05,11.000000,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,11.000000,19.000000,955.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,6.390000,3.500000e+05,20.000000,4.000000e+06,1.000000,3.500000e+05,30.000000,2.083333e+06,2.000000,3.000000e+05,25.000000,1.0,5.000000e+05,200000.000000,30.000000,3.000000e+05,24.250000,2.875000e+05,20.000000,3.000000e+05,25.000000,2.150000e+05,33.300000,2.700000e+05,20.000000,2.500000e+05,20.000000,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,14.000000,29.000000,1274.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,8.640000,5.000000e+06,100.000000,1.000000e+08,1.000000,5.000000e+06,100.000000,3.600000e+07,5.000000,5.000000e+06,100.000000,1.0,2.000000e+06,700000.000000,55.000000,2.000000e+06,100.000000,1.175000e+06,95.000000,5.000000e+06,100.000000,3.000000e+06,100.000000,2.500000e+06,50.000000,1.250000e+06,100.000000,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [37]:
shark_tank_df.columns = shark_tank_df.columns.str.strip().str.replace(' ', '_').str.lower()

In [39]:
shark_tank_df.columns

Index(['season_number', 'episode_number', 'pitch_number', 'original_air_date',
       'startup_name', 'industry', 'business_description', 'pitchers_gender',
       'pitchers_city', 'pitchers_state', 'pitchers_average_age',
       'entrepreneur_names', 'company_website', 'multiple_entrepreneurs',
       'us_viewership', 'original_ask_amount', 'original_offered_equity',
       'valuation_requested', 'got_deal', 'total_deal_amount',
       'total_deal_equity', 'deal_valuation', 'number_of_sharks_in_deal',
       'investment_amount_per_shark', 'equity_per_shark', 'royalty_deal',
       'loan', 'barbara_corcoran_investment_amount',
       'barbara_corcoran_investment_equity', 'mark_cuban_investment_amount',
       'mark_cuban_investment_equity', 'lori_greiner_investment_amount',
       'lori_greiner_investment_equity', 'robert_herjavec_investment_amount',
       'robert_herjavec_investment_equity', 'daymond_john_investment_amount',
       'daymond_john_investment_equity', 'kevin_o_leary_investment_amount',
       'kevin_o_leary_investment_equity', 'guest_investment_amount',
       'guest_investment_equity', 'guest_name', 'barbara_corcoran_present',
       'mark_cuban_present', 'lori_greiner_present', 'robert_herjavec_present',
       'daymond_john_present', 'kevin_o_leary_present'],
      dtype='object')

In [41]:
shark_tank_df.isnull().sum()

season_number                            0
episode_number                           0
pitch_number                             0
original_air_date                        0
startup_name                             0
industry                                 0
business_description                     0
pitchers_gender                          7
pitchers_city                          772
pitchers_state                         528
pitchers_average_age                   936
entrepreneur_names                     495
company_website                        758
multiple_entrepreneurs                 427
us_viewership                            0
original_ask_amount                      0
original_offered_equity                  0
valuation_requested                      0
got_deal                                 0
total_deal_amount                      509
total_deal_equity                      509
deal_valuation                         509
number_of_sharks_in_deal               509
investment_amount_per_shark            509
equity_per_shark                       509
royalty_deal                          1199
loan                                  1222
barbara_corcoran_investment_amount    1154
barbara_corcoran_investment_equity    1154
mark_cuban_investment_amount          1044
mark_cuban_investment_equity          1044
lori_greiner_investment_amount        1075
lori_greiner_investment_equity        1075
robert_herjavec_investment_amount     1153
robert_herjavec_investment_equity     1153
daymond_john_investment_amount        1163
daymond_john_investment_equity        1163
kevin_o_leary_investment_amount       1157
kevin_o_leary_investment_equity       1157
guest_investment_amount               1169
guest_investment_equity               1169
guest_name                            1169
barbara_corcoran_present               376
mark_cuban_present                     373
lori_greiner_present                   373
robert_herjavec_present                377
daymond_john_present                   376
kevin_o_leary_present                  376
dtype: int64

In [43]:
missing_cols = ['pitchers_city', 'pitchers_state', 'pitchers_average_age', 'entrepreneur_names', 'company_website']
shark_tank_df[missing_cols].isnull().mean() * 100

pitchers_city           60.596546
pitchers_state          41.444270
pitchers_average_age    73.469388
entrepreneur_names      38.854003
company_website         59.497645
dtype: float64

In [45]:
if 'pitchers_city' in shark_tank_df.columns:
    shark_tank_df.drop(columns=['pitchers_city'], inplace=True)

In [47]:
shark_tank_df['pitchers_state'] = shark_tank_df['pitchers_state'].fillna('Unknown')

In [49]:
shark_tank_df['pitchers_average_age'].head()

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: pitchers_average_age, dtype: object

In [51]:
# Check unique values in the 'pitchers_average_age' column to identify any non-numeric data
shark_tank_df['pitchers_average_age'].unique()

array([nan, 'Middle', 'Young', 'Old'], dtype=object)

In [53]:
age_map = {
    'Young': 20,  # Example: assign Young as 20
    'Middle': 40, # Example: assign Middle as 40
    'Old': 60     # Example: assign Old as 60
}

In [55]:
shark_tank_df['pitchers_average_age'] = shark_tank_df['pitchers_average_age'].map(age_map)

In [57]:
mean_age = shark_tank_df['pitchers_average_age'].mean()
shark_tank_df['pitchers_average_age'] = shark_tank_df['pitchers_average_age'].fillna(mean_age)

In [61]:
shark_tank_df['pitchers_average_age'].head()

0    38.934911
1    38.934911
2    38.934911
3    38.934911
4    38.934911
Name: pitchers_average_age, dtype: float64

In [63]:
shark_tank_df['pitchers_average_age'].dtype

dtype('float64')

In [65]:
shark_tank_df['entrepreneur_names'] = shark_tank_df['entrepreneur_names'].fillna('Unknown')

In [67]:
shark_tank_df['company_website'] = shark_tank_df['company_website'].fillna('Not Available')

In [69]:
shark_tank_df['deal_made'] = shark_tank_df['got_deal'].astype(bool)

In [71]:
deal_columns = [
    'total_deal_amount', 'total_deal_equity', 'deal_valuation',
    'number_of_sharks_in_deal', 'investment_amount_per_shark', 'equity_per_shark',
    'royalty_deal', 'loan'
]

In [93]:
print(shark_tank_df[['royalty_deal', 'loan']].dtypes)

royalty_deal    object
loan            object
dtype: object

In [99]:
# Fill NaN values in 'royalty_deal' and 'loan' directly with 'No Deal'
shark_tank_df['royalty_deal'] = shark_tank_df['royalty_deal'].fillna('No Deal')
shark_tank_df['loan'] = shark_tank_df['loan'].fillna('No Deal')

In [101]:
# Check if there are any NaN values left
print(shark_tank_df[['royalty_deal', 'loan']].isnull().sum())

royalty_deal    0
loan            0
dtype: int64

In [73]:
# Fill numerical columns with 0
shark_tank_df.loc[~shark_tank_df['deal_made'], deal_columns] = \
    shark_tank_df.loc[~shark_tank_df['deal_made'], deal_columns].fillna(0)

In [75]:
# Fill string columns separately
# Replace 0 with 'No Deal' for clarity — I used direct assignment
shark_tank_df['royalty_deal'] = shark_tank_df['royalty_deal'].replace(0, 'No Deal')
shark_tank_df['loan'] = shark_tank_df['loan'].replace(0, 'No Deal')

In [77]:
shark_columns = [col for col in shark_tank_df.columns if '_investment_' in col]

In [79]:
# Fill all shark investment columns with 0 where no deal
shark_tank_df.loc[~shark_tank_df['deal_made'], shark_columns] = 0

In [81]:
shark_tank_df['guest_name'] = shark_tank_df['guest_name'].fillna('No Guest')
shark_tank_df['guest_investment_amount'] = shark_tank_df['guest_investment_amount'].fillna(0)
shark_tank_df['guest_investment_equity'] = shark_tank_df['guest_investment_equity'].fillna(0)

In [83]:
presence_cols = [col for col in shark_tank_df.columns if '_present' in col]

for col in presence_cols:
    shark_tank_df[col] = shark_tank_df[col].fillna(False).astype(bool)

In [85]:
shark_tank_df['pitchers_gender'] = shark_tank_df['pitchers_gender'].fillna('NA')

In [87]:
shark_tank_df['multiple_entrepreneurs'] = shark_tank_df['multiple_entrepreneurs'].fillna(0.0)

In [105]:
# Fill the missing values with 0 for investment amount and equity columns
shark_tank_df['barbara_corcoran_investment_amount'] = shark_tank_df['barbara_corcoran_investment_amount'].fillna(0)
shark_tank_df['barbara_corcoran_investment_equity'] = shark_tank_df['barbara_corcoran_investment_equity'].fillna(0)

shark_tank_df['mark_cuban_investment_amount'] = shark_tank_df['mark_cuban_investment_amount'].fillna(0)
shark_tank_df['mark_cuban_investment_equity'] = shark_tank_df['mark_cuban_investment_equity'].fillna(0)

shark_tank_df['lori_greiner_investment_amount'] = shark_tank_df['lori_greiner_investment_amount'].fillna(0)
shark_tank_df['lori_greiner_investment_equity'] = shark_tank_df['lori_greiner_investment_equity'].fillna(0)

shark_tank_df['robert_herjavec_investment_amount'] = shark_tank_df['robert_herjavec_investment_amount'].fillna(0)
shark_tank_df['robert_herjavec_investment_equity'] = shark_tank_df['robert_herjavec_investment_equity'].fillna(0)

shark_tank_df['daymond_john_investment_amount'] = shark_tank_df['daymond_john_investment_amount'].fillna(0)
shark_tank_df['daymond_john_investment_equity'] = shark_tank_df['daymond_john_investment_equity'].fillna(0)

shark_tank_df['kevin_o_leary_investment_amount'] = shark_tank_df['kevin_o_leary_investment_amount'].fillna(0)
shark_tank_df['kevin_o_leary_investment_equity'] = shark_tank_df['kevin_o_leary_investment_equity'].fillna(0)

In [107]:
print(shark_tank_df[['barbara_corcoran_investment_amount', 
                     'barbara_corcoran_investment_equity',
                     'mark_cuban_investment_amount', 
                     'mark_cuban_investment_equity',
                     'lori_greiner_investment_amount', 
                     'lori_greiner_investment_equity',
                     'robert_herjavec_investment_amount', 
                     'robert_herjavec_investment_equity',
                     'daymond_john_investment_amount', 
                     'daymond_john_investment_equity',
                     'kevin_o_leary_investment_amount', 
                     'kevin_o_leary_investment_equity']].isnull().sum())

barbara_corcoran_investment_amount    0
barbara_corcoran_investment_equity    0
mark_cuban_investment_amount          0
mark_cuban_investment_equity          0
lori_greiner_investment_amount        0
lori_greiner_investment_equity        0
robert_herjavec_investment_amount     0
robert_herjavec_investment_equity     0
daymond_john_investment_amount        0
daymond_john_investment_equity        0
kevin_o_leary_investment_amount       0
kevin_o_leary_investment_equity       0
dtype: int64

In [113]:
shark_tank_df['original_air_date'] = pd.to_datetime(shark_tank_df['original_air_date'], errors='coerce')

In [115]:
shark_tank_df['original_air_date'].head()

0   2009-08-09
1   2009-08-09
2   2009-08-09
3   2009-08-09
4   2009-08-09
Name: original_air_date, dtype: datetime64[ns]

In [117]:
shark_tank_df.dtypes

season_number                                  int64
episode_number                                 int64
pitch_number                                   int64
original_air_date                     datetime64[ns]
startup_name                                  object
industry                                      object
business_description                          object
pitchers_gender                               object
pitchers_state                                object
pitchers_average_age                         float64
entrepreneur_names                            object
company_website                               object
multiple_entrepreneurs                       float64
us_viewership                                float64
original_ask_amount                            int64
original_offered_equity                      float64
valuation_requested                            int64
got_deal                                       int64
total_deal_amount                            float64
total_deal_equity                            float64
deal_valuation                               float64
number_of_sharks_in_deal                     float64
investment_amount_per_shark                  float64
equity_per_shark                             float64
royalty_deal                                  object
loan                                          object
barbara_corcoran_investment_amount           float64
barbara_corcoran_investment_equity           float64
mark_cuban_investment_amount                 float64
mark_cuban_investment_equity                 float64
lori_greiner_investment_amount               float64
lori_greiner_investment_equity               float64
robert_herjavec_investment_amount            float64
robert_herjavec_investment_equity            float64
daymond_john_investment_amount               float64
daymond_john_investment_equity               float64
kevin_o_leary_investment_amount              float64
kevin_o_leary_investment_equity              float64
guest_investment_amount                      float64
guest_investment_equity                      float64
guest_name                                    object
barbara_corcoran_present                        bool
mark_cuban_present                              bool
lori_greiner_present                            bool
robert_herjavec_present                         bool
daymond_john_present                            bool
kevin_o_leary_present                           bool
deal_made                                       bool
dtype: object

In [111]:
shark_tank_df.isnull().sum()

season_number                         0
episode_number                        0
pitch_number                          0
original_air_date                     0
startup_name                          0
industry                              0
business_description                  0
pitchers_gender                       0
pitchers_state                        0
pitchers_average_age                  0
entrepreneur_names                    0
company_website                       0
multiple_entrepreneurs                0
us_viewership                         0
original_ask_amount                   0
original_offered_equity               0
valuation_requested                   0
got_deal                              0
total_deal_amount                     0
total_deal_equity                     0
deal_valuation                        0
number_of_sharks_in_deal              0
investment_amount_per_shark           0
equity_per_shark                      0
royalty_deal                          0
loan                                  0
barbara_corcoran_investment_amount    0
barbara_corcoran_investment_equity    0
mark_cuban_investment_amount          0
mark_cuban_investment_equity          0
lori_greiner_investment_amount        0
lori_greiner_investment_equity        0
robert_herjavec_investment_amount     0
robert_herjavec_investment_equity     0
daymond_john_investment_amount        0
daymond_john_investment_equity        0
kevin_o_leary_investment_amount       0
kevin_o_leary_investment_equity       0
guest_investment_amount               0
guest_investment_equity               0
guest_name                            0
barbara_corcoran_present              0
mark_cuban_present                    0
lori_greiner_present                  0
robert_herjavec_present               0
daymond_john_present                  0
kevin_o_leary_present                 0
deal_made                             0
dtype: int64

In [119]:
shark_tank_df.to_csv('cleaned_shark_tank_data.csv', index=False)

In [121]:
shark_tank_df.to_excel('cleaned_shark_tank_data.xlsx', index=False)